.wrap {
  position: relative;
}

.titleWrap {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin-top: 50px;
}

.date {
  margin-left: 15px;
  font-size: 14px;
}

.contentWrap {
  display: flex;
  align-items: flex-start;
  padding-bottom: 100px;
}

.img {
  width: 100%;
  height: fit-content;

  border: 4px solid black;
  margin: 0px;
}

.desWrap {
  width: 30%;
  margin-left: 40px;
  position: relative;
}

.subTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}

.desc {
  font-size: 15px;
  white-space: pre-wrap;
  margin-bottom: 14px;
}

.skillsWrap {
  background-color: white;
  border: 4px solid black;
  width: max-content;
  padding: 10px 16px;
}

.skill {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1000px) {
  .contentWrap {
    flex-direction: column;
  }

  .desWrap {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
  }

  .desc {
    white-space: normal;
    margin-bottom: 20px;
  }
}
