.titleWrap {
  display: table;
}

.title {
  padding-top: 20%;
}

.h1 {
  font-size: 124px;
  line-height: 115.4%;
  color: #000000;
  transform: rotate(11.55deg);
}

.intro {
  position: relative;
  width: 35rem;
  transform: rotate(-1.94deg);
}

.gradientYellow {
  z-index: -2;
  position: absolute;
  width: 1598px;
  height: 1090px;
  left: 0%;
  top: 10%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 247, 177, 0.84) 0%,
    rgba(255, 236, 63, 0) 100%
  );
}

.gradientOrange {
  z-index: -1;
  position: absolute;
  width: 1598px;
  height: 1384px;
  left: 30%;
  top: 20%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffa588 0%,
    rgba(255, 205, 177, 0) 100%
  );
}

.down {
  margin-top: 160px;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 60px;
  }

  .intro {
    margin-top: 50px;
    width: 100%;
  }
  .title {
    padding-top: 20%;
  }

  .down {
    margin-top: 40px;
  }
}
