.nav {
  font-size: 18px;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
  background: none;
  padding: 3px 16px;

  color: black;
}

.head {
  position: sticky;
  z-index: 90;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0px;
}

.right:hover {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 100px/35px;
  box-sizing: border-box;
  box-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black;
}

.right {
  margin-left: 3rem;
}
@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}
