.nav {
  font-size: 18px;
  font-weight: bold;

  color: black;
}

.head {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0px;
}

.right {
  margin-left: 3rem;
}
@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}
